<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Remove Product</h3>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/product/delete}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Address</label>
            <input type="text" th:field="*{address}"/>
        </div>
        <div>
            <label>Ngày sản xuất</label>
            <input type="text" th:field="*{nsx}"/>
        </div>
        <div>
            <label>Hạn Sử dụng</label>
            <input type="text" th:field="*{hsd}"/>
        </div>
        <input type="submit" value="Remove"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>